/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 25, 2024, 6:50:16 PM
    Author     : mosdd
*/

/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 25, 2024, 2:52:01 PM
    Author     : mosdd
*/



.update__pitch * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.update__pitch .pitch__container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.update__pitch .pitch__container .pitch__info {
    font-size: 20px;
}

.update__pitch .pitch__container .pitch__info table td{
    border: none;
}

.update__pitch .pitch__container .pitch__info .pitch__name {
   margin: 20px 0;
}

.update__pitch .pitch__container .pitch__info input{
    width: 300px;
    height: 50px;
    border-radius: 20px;
    border: none;
    margin: 10px auto;
    padding: 0 10px;
    font-size: 20px;
    background-color: #1A1919;
    color: #fff;
}

.update__pitch .pitch__container .pitch__info input[type="file"]{
    display: none;
}

.update__pitch .pitch__container .pitch__info .pitch__structure label {
    display: block;
    background-color: rgb(255, 203, 73);
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    width: 200px;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    
}

.update__pitch .pitch__container .pitch__image {
    width: 100%;
    max-width: 700px;
    min-width: 300px;
    height: 200px;
    height: fit-content;
}

.update__pitch .pitch__container .pitch__structure {
    width: 300px;
    height: 200px;
}

.update__pitch .pitch__container .pitch__structure img {
    width: 300px;
    min-height: 100%;
    object-fit: cover;
}

.update__pitch .pitch__container .pitch__image img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}


.update__pitch .pitch__container .pitch__image input {
    display: none;
}

.update__pitch .pitch__container .pitch__image label {
    display: block;
    background-color: rgb(0, 94, 255);
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    width: 300px;
    padding: 18px 0;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
}

.update__pitch .area__container {
    width: 50%;
    margin: 20px auto;
}

.update__pitch .area__container .add__button {
    display: flex;
    justify-content: end;
}

.update__pitch .area__container .add__button button {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: #ffffff;
    background-color: rgb(0, 255, 162);
    cursor: pointer;
    transition: 0.3s;
}

.update__pitch .area__container .area__box {
    background-color: #515151;
    height: 200px;
    border: #8d8d8d solid 1px;
    border-radius: 5px;
    overflow-y: auto;
    margin: 10px auto;
}

.update__pitch .area__container .area__box .area {
    display: flex;
    justify-content: space-between;
    background-color: #636363;
    height: fit-content;
    border-bottom: #8d8d8d solid 1px;
    border-radius: 5px 5px 0 0;
    align-items: center;
    padding-inline: 10px;
    color: #ffffff;
}

.update__pitch .area__container .area__box .area__management {
    margin: 10px 0;
}

.update__pitch .area__container .area__box .area__management button {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

.update__pitch .area__container button:hover{
    transform: scale(1.1);
}

.update__pitch .area__container .area__box .area__management .seat__management {
    background-color: rgb(123, 0, 255);
}

.update__pitch .area__container .area__box .area__management .update__button {
    background-color: rgb(0, 94, 255);
}

.update__pitch .area__container .area__box .area__management .delete__button {
    background-color: red;
}

/* Seat table */

.update__pitch .seat__management__box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(22, 25, 34, 0.7);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    pointer-events: none;
    padding: 8rem 1.5rem 0;
    opacity: 0;
    transition: opacity .4s;
}

.update__pitch form .show-seat-management-box{
    opacity: 1;
    pointer-events: auto;
}

.update__pitch .seat__management__box .seat__management__header {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto; 
}

.update__pitch .seat__table {
    width: 80%;
    max-height: 400px;
    overflow-y: scroll; 
    margin: 10px auto;
}

.update__pitch .seat__table table {
    width: 100%;
    border: #fff solid 1px;
    border-collapse: separate;
    border-spacing: 0px;
}

.update__pitch .seat__table table th {
    position: sticky;
    top: 0px;
    background-color: #00C767;
    color: #fff;
}

.update__pitch .seat__table table th, td{
    color: #fff;
    border: 1px #ffffff solid;
}


/* Area add box */
.update__pitch  form .area__add__box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(22, 25, 34, 0.7);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    pointer-events: none;
    opacity: 0;
    transition: opacity .4s;
}

.update__pitch form .show-area-add-box {
    opacity: 1;
    pointer-events: auto;
}

.update__pitch .area__add__box .box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 1px 10px #1A1919;
    width: 500px;
    height: 150px;
    align-content: center;
    color: black;
    font-size: 20px;
    border-radius: 10px;
}

.update__pitch .area__add__box .box input {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: #636363 2px solid;
    padding: 0 10px;
    font-size: 18px;
    margin: 0 10px;
}

.update__pitch .area__add__box .box button {
    width: 100px;
    height: 40px;
    background-color: #00C767;
    box-shadow: 0 0.5px 10px #8d8d8d;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    transition: 0.3s;
    margin-left: 30px;
}

.update__pitch .area__add__box .box button:hover {
    transform: scale(1.1)
}
