<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>homepageServlet</servlet-name>
        <servlet-class>Controllers.homepageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactServlet</servlet-name>
        <servlet-class>Controllers.contactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>playerDetailServlet</servlet-name>
        <servlet-class>Controllers.Player.playerDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>matchManagementServlet</servlet-name>
        <servlet-class>Controllers.Admin.Match.matchManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>playerManagementServlet</servlet-name>
        <servlet-class>Controllers.Admin.playerManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pitchManagementServlet</servlet-name>
        <servlet-class>Controllers.Admin.PitchManagement.pitchManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPitchServlet</servlet-name>
        <servlet-class>Controllers.Admin.PitchManagement.addPitchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeatServlet</servlet-name>
        <servlet-class>Controllers.Admin.PitchManagement.SeatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>playerSearchServlet</servlet-name>
        <servlet-class>Controllers.Player.playerSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>playerAddServlet</servlet-name>
        <servlet-class>Controllers.Admin.playerAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>playerSearchAdminServlet</servlet-name>
        <servlet-class>Controllers.Admin.playerSearchAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePitchServlet</servlet-name>
        <servlet-class>Controllers.Admin.PitchManagement.updatePitchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AreaServlet</servlet-name>
        <servlet-class>Controllers.Admin.PitchManagement.AreaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>playerUpdateServlet</servlet-name>
        <servlet-class>Controllers.Admin.playerUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPitchServlet</servlet-name>
        <servlet-class>Controllers.Admin.PitchManagement.SearchPitchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>playerRoleIdServlet</servlet-name>
        <servlet-class>Controllers.Player.playerRoleIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>playerSearchByRoleNameServlet</servlet-name>
        <servlet-class>Controllers.Admin.playerSearchByRoleNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>operatorManagementServlet</servlet-name>
        <servlet-class>Controllers.Admin.operatorManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactAdminServlet</servlet-name>
        <servlet-class>Controllers.Contact.ContactAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>Controllers.Cart.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTicketController</servlet-name>
        <servlet-class>Controllers.Cart.DeleteTicketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>matchServlet</servlet-name>
        <url-pattern>/matchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shopServlet</servlet-name>
        <url-pattern>/shopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homepageServlet</servlet-name>
        <url-pattern>/homepageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactServlet</servlet-name>
        <url-pattern>/contactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>playerDetailServlet</servlet-name>
        <url-pattern>/playerDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>matchManagementServlet</servlet-name>
        <url-pattern>/matchManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>playerManagementServlet</servlet-name>
        <url-pattern>/playerManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pitchManagementServlet</servlet-name>
        <url-pattern>/pitchManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPitchServlet</servlet-name>
        <url-pattern>/addPitchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>playerSearchServlet</servlet-name>
        <url-pattern>/playerSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>playerAddServlet</servlet-name>
        <url-pattern>/playerAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>playerSearchAdminServlet</servlet-name>
        <url-pattern>/playerSearchAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePitchServlet</servlet-name>
        <url-pattern>/updatePitchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AreaServlet</servlet-name>
        <url-pattern>/AreaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>playerUpdateServlet</servlet-name>
        <url-pattern>/playerUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPitchServlet</servlet-name>
        <url-pattern>/SearchPitchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeatServlet</servlet-name>
        <url-pattern>/seat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>playerRoleIdServlet</servlet-name>
        <url-pattern>/playerRoleIdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>playerSearchByRoleNameServlet</servlet-name>
        <url-pattern>/playerSearchByRoleNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>operatorManagementServlet</servlet-name>
        <url-pattern>/operatorManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactAdminServlet</servlet-name>
        <url-pattern>/ContactAdminServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Homepage.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>playerServlet</servlet-name>
        <servlet-class>Controllers.Player.playerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>matchServlet</servlet-name>
        <servlet-class>Controllers.matchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shopServlet</servlet-name>
        <servlet-class>Controllers.shopServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>playerServlet</servlet-name>
        <url-pattern>/playerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTicketController</servlet-name>
        <url-pattern>/deleteTicket</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/404_Error.jsp</location>
    </error-page>
</web-app>
