

* {
    font-family: sans-serif;
}


.buyticket__main {
    display: flex;
}

.buyticket__main .stadium {
    position: absolute;
    color: #1A1A1A;
    display: flex;
    width: calc(100% - 400px);
    height: 800px;
    overflow: auto;
}

.buyticket__main .stadium img{
    position: absolute;
    width: 1400px;
    z-index: -100;
}

.buyticket__main .stadium i{
    display: flex;
    font-size: 10px;
    color: white;
    cursor: pointer;
}

.buyticket__main .stadium .seat {
    width: 10px;
    height: 10px;
}

.buyticket__main .stadium i:hover{
    color: #f3ffaa;
    background-color: #00C767;
    transform: scale(1.2);
}

/* Area */
.buyticket__main .stadium .top__side__outler {
    display: flex;
    position: absolute;
    top: 0;
    left: 25.5rem;
    margin-top: 4px;
}

.buyticket__main .stadium .area__ARO {
        display: grid;
        grid-template-columns: repeat(24, 1fr); /* This creates a grid with 18 columns */
        column-gap: 2px;
        row-gap: 1px;
        margin-right: 5px;
        height: fit-content;
}

.buyticket__main .stadium .area__ALO {
    display: grid;
    grid-template-columns: repeat(24, 1fr); /* This creates a grid with 18 columns */
    column-gap: 2px;
    row-gap: 1px;
    margin-left: 5px;
}

.buyticket__main .stadium .down__side__outler {
    display: flex;
    position: absolute;
    top: 55.3rem;
    left: 25.5rem;
    rotate: 180deg;
    margin-top: 4px;
}

.buyticket__main .stadium .area__CRO {
    display: grid;
    grid-template-columns: repeat(24, 1fr); /* This creates a grid with 18 columns */
    column-gap: 2px;
    row-gap: 1px;
    margin-right: 5px;
}

.buyticket__main .stadium .area__CLO {
    display: grid;
    grid-template-columns: repeat(24, 1fr); /* This creates a grid with 18 columns */
    column-gap: 2px;
    row-gap: 1px;
    margin-left: 5px;
}

.buyticket__main .stadium .left__side__outler {
    display: flex;
    position: absolute;
    top: 28rem;
    left: -4rem;
    rotate: -90deg;
}

.buyticket__main .stadium .area__DLO {
    display: grid;
    grid-template-columns: repeat(24, 1fr); /* This creates a grid with 18 columns */
    column-gap: 2px;
    row-gap: 1px;
}

.buyticket__main .stadium .right__side__outler {
    display: flex;
    position: absolute;
    top: 28rem;
    left: 73.6rem;
    rotate: 90deg;
}

.buyticket__main .stadium .area__BRO {
    display: grid;
    grid-template-columns: repeat(24, 1fr); /* This creates a grid with 18 columns */
    column-gap: 2px;
    row-gap: 1px;
}


/* Seat */
.buyticket__main .stadium .seat .sold {
    color: #ff3a3a;
}

/* Confirm Box*/

.confirm__box__background {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 999;
    top: 0;
    left: 0;
    transition: all 0.5s;
}
.confirm__box {
    position: fixed;
    width: 200px;
    height: 200px;
    background-color: #f1f1f1;
    justify-content: end;
    align-items: start;
    z-index: 1000;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
}

.show-confirm-box {
    display: block;
}

.confirm__box .close__btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.confirm__box .action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.confirm__box button {
    width: 100px;
    height: 40px;
    background-color: #00C767;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 20px;
}

.confirm__box button:hover {
    background-color: #00C767;
}

.confirm__box .add__list_btn {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 26px;
}

.confirm__box table {
    width: 200px;
    font-size: 20px;
    font-family: sans-serif;
    text-align: start;
    padding: 10px;
}


.buyticket__main .order__detail {
    background-color: #eff0f3;
    width: 400px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    border-left: 4px solid #dfe4e4;
    box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

.buyticket__main .order__detail .order__list {
    width: calc(100% - 20px);
    height: 500px;
    background-color: #dfe4e4;
    margin: 10px auto;
    border-radius: 10px;
    overflow-y: auto;
}

.buyticket__main .order__detail .checkout {
    padding: 10px;
}

.buyticket__main .order__detail .checkout .total {
    padding: 20px;
}

.buyticket__main .order__detail .checkout .discount {
    padding-top: 20px;
}

.buyticket__main .order__detail .action {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buyticket__main .order__detail .action button {
    width: 100px;
    height: 40px;
    background-color: #00C767;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 20px;
}

.buyticket__main .order__detail .action #btn-add-to-cart {
    width: 150px;
    height: 40px;
    background-color: #00C767;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 20px;
}

