
/*RESET*/
header *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
}

/* BASE STYLES */

/* Main section */

.header a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.header ul {
    list-style: none;
}

.header input,
.header button {
    border: none;
    outline: none;
}

.header img {
    display: block;
    max-width: 100%;
    height: auto;
}

.header .container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}



/* NORMAL STYLES */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1A1919;
    z-index: 1000;
}

.header .nav__link {
    color: rgb(240, 248, 255);
}

.header .nav {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
}

.header .nav__logo {
    width: 200px;
    transition: color .4s;
}

.header .nav__actions {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.header .nav__cart,
.header .nav__login,
.header .nav__toggle,
.header .nav__close {
    font-size: 1.5rem;
    color: #ffffff;
    cursor: pointer;
}

:is(.header .nav__logo,.header .nav__cart,.header .nav__login,.header .nav__toggle,.header .nav__link):hover{
    color: rgb(0, 255, 157);
}


@media screen and (max-width: 1023px) {
    .header .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: #1A1919;
        width: 100%;
        padding-block: 4.5rem 4rem;
        transition: top .4s;
    }
}

.header .nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    text-align: center;
}

.header .nav__link {
    color: rgb(255, 255, 255);
    font-weight: 500;
    transition: color .4s;
}

.header .nav__close {
    position: absolute;
    top: 1.15rem;
    right: 1.5rem;
}



.header .show-menu {
    top: 0;
}

/* Login */

.header .login{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #1619224b;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    padding: 8rem 1.5rem 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
}

.header .login__close{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    color: #ffffff;
    cursor: pointer;
    padding-left: 90%;
    padding-top: 10px;
}

.header .login__form,
.header .login__group{
    display: grid;
}

.header .login__form {
    background-color: #232323;
    padding: 2rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    row-gap: 1.25rem;
    text-align: center;
    transform: translateY(-1rem);
    transition: transform .9s;
}

.header .login__decor {
    background-color: #00C767;
    height: 16px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    transform: translateY(-1rem);
    transition: transform .9s;
}

.header .login__title {
    font-size: 2rem;
    color: aliceblue;
    font-weight: 500;
}

.header .login__group {
    row-gap: 1rem;
}

.header .login__label {
    display: block;
    text-align: initial;
    color: aliceblue;
    font-weight: 500;
    margin-bottom: .25rem;
}

.header .login__input {
    width: 100%;
    background-color: #343434;
    border: 2px solid #ffffff2c;
    padding: 1rem;
    border-radius: .5rem;
    color: #ffffff;
}

.header .login__icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .login__input::placeholder {
    color: #505050;
}

.header .login__signup {
    margin-bottom: .5rem;
}

.header .login__signup a{
    color: rgb(0, 255, 191);
    cursor: pointer
}

.header .login__forgot {
    display: inline-block;
    color: rgb(0, 255, 191);
    margin-bottom: 1.25rem;
}

.header .login__button {
    display: inline-block;
    background-color: #00C767;
    width: 100%;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: box-shadow .4s;
}

.header .login__button:hover {
    box-shadow: 0 1px 24px #00ff842d;
}

/* Nav actions dropdown menu */
.header .nav__actions .actions .dropdown__menu {
    position: absolute;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    display: none;
    z-index: 1000;
    width: 180px;
}

.header .nav__actions .actions .dropdown__menu a {
    float: none;
    display: block;
    color: #1B1B1C;
    text-align: center;
    font-size: 20px;
    padding: 10px 16px;
    cursor: pointer;
}

.header .nav__actions .actions .dropdown__menu a:hover {
    background-color: #ededed;
    border-radius: 10px;
}

.header .nav__actions .actions .dropdown__menu .triangle-up {
    position: relative;
    top: -26px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    margin: 0 auto;
}


/* show login */
.header .show-login {
    opacity: 1;
    pointer-events: auto;
}

.header .show-login .login__form {
    transform: translateY(0);
}

.header .show-login .login__decor {
    transform: translateY(0);
}

/* Register */

.header .register{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #1619224b;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    padding: 8rem 1.5rem 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
}

.header .register__close{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    color: #ffffff;
    cursor: pointer;
    padding-left: 90%;
    padding-top: 10px;
}

.header .register__form,
.header .register__group{
    display: grid;
}

.header .register__form {
    background-color: #232323;
    padding: 2rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    row-gap: 1.25rem;
    text-align: center;
    transform: translateY(-1rem);
    transition: transform .9s;
}

.header .register__decor {
    background-color: #00C767;
    height: 16px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    transform: translateY(-1rem);
    transition: transform .9s;
}


.header .register__title {
    font-size: 2rem;
    color: aliceblue;
    font-weight: 500;
    cursor: pointer;
}
.header .register__title__group {
    margin: 1rem;
    justify-content: space-between;
    display: flex;
}
.header .register__group {
    row-gap: 1rem;
}

.header .register__label {
    display: block;
    text-align: initial;
    color: aliceblue;
    font-weight: 500;
    margin-bottom: .25rem;
}

.header .register__input {
    width: 100%;
    background-color: #343434;
    border: 2px solid #ffffff2c;
    padding: 1rem;
    border-radius: .5rem;
    color: #ffffff;
}

.header .login__icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .register__input::placeholder {
    color: #505050;
}

.header .register__signin {
    margin-bottom: .5rem;
}

.header .register__signin a{
    color: rgb(0, 255, 191);
    cursor: pointer;
}


.header .register__button {
    display: inline-block;
    background-color: #00C767;
    width: 100%;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: box-shadow .4s;
}

.header .register__button:hover {
    box-shadow: 0 1px 24px #00ff842d;
}

/* show register */
.header .show-register {
    opacity: 1;
    pointer-events: auto;
}

.header .show-register .register__form {
    transform: translateY(0);
}

.header .show-register .register__decor {
    transform: translateY(0);
}

/* Responsive Breakpoint */

/* Medium device */
@media screen and (min-width: 576px) {
    .header .login {
        padding-top: 3rem;
    }

    .header .login__close {
        width: max-content;
        top: auto;
        left: 0;
        right: 0;
        margin-inline: auto;
        font-size: 2rem;
    }

    .header .login__form {
        max-width: 400px;
        margin-inline: auto;
    }

    .header .login__decor {
        max-width: 400px;
        margin-inline: auto;
    }

    /* Register */
    .header .register {
        padding-top: 3rem;
    }

    .header .register__close {
        width: max-content;
        top: auto;
        left: 0;
        right: 0;
        margin-inline: auto;
        font-size: 2rem;
    }

    .header .register__form {
        max-width: 400px;
        margin-inline: auto;
    }
    .header .profile__form {
        max-width: 800px;
        margin-inline: auto;
    }
    .header .register__decor {
        max-width: 400px;
        margin-inline: auto;
    }
    .header .profile__decor {
        max-width: 800px;
        margin-inline: auto;
    }
}

.header .join__button {
    display: none;
}

/* Large device */
@media screen and (min-width: 1023px){
    .header .nav{
        height: calc(3.5rem + 1rem);
    }

    .header .nav__close,
    .header .nav__toggle{
        display: none;
    }

    .header .nav__menu{
        margin-left: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        height: 100%;
    }

    .header .nav__list{
        flex-direction: row;
        column-gap: 3rem;
        height: 100%;
    }

    .header .nav__list .nav__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .header .login__form{
        padding: 3rem;
    }

    .header .register__form {
        padding: 3rem;
    }

    .header .nav__login {
        display: none;
    }

    .header .join__button {
        display: inline-block;
        background-color: #00C767;
        width: 160px;
        height: 45px;
        color: #ffffff;
        font-weight: 500;
        font-size: 1.2rem;
        padding-top: 4px;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: box-shadow .4s;
    }


    .header .join__button:hover {
        box-shadow: 0 1px 24px #00ff842d;
    }

    .header .nav__link {
        font-size: 1.2rem;
        font-weight: 400;
        display: flex;
        align-items: center;
        height: calc(100% - 4px);
    }
    .header .nav__item .decor__line {
        height: 4px;
        background-color: transparent;
        width: 0;
        transition: background-color, width .4s;
    }

    .header .nav__item .active {
        background-color: #00C767;
        width: 100%;
    }

}

.login__social {
    text-align: center;
    margin-top: 20px;
}

.login__google {
    background-color: #4285F4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login__google i {
    margin-right: 10px;
}

/*Profile section*/
.header .profile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #1619224b;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    padding: 8rem 1.5rem 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
}

.header .profile__close{
    position: fixed;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    color: #ffffff;
    cursor: pointer;
    width: 20px;
}

.header .profile__form,
.header .profile__group{
    display: grid;
}

.header .profile__form {
    background-color: white;
    padding: 2rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    row-gap: 1.25rem;
    text-align: center;
    transform: translateY(-1rem);
    transition: transform .9s;
    max-height: 600px;
    overflow-y: auto;
}

.header .profile__main .profile__title{
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.header .profile__form .profile__header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #1A1A1A;
    width: 60%;
    margin: 0 auto;
}

.header .profile__form .profile__main {
    display: flex;
    justify-content: space-around;
}

.header .profile__main .profile__information, header .profile__main .change__password {
    text-align: start;
}

.header .profile__decor {
    background-color: #00C767;
    height: 16px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    transform: translateY(-1rem);
    transition: transform .9s;
}


.header .profile__group {
    row-gap: 1rem;
}

.header .profile__label {
    display: block;
    text-align: initial;
    color: aliceblue;
    font-weight: 500;
    margin-bottom: .25rem;
}


.header .profile .profile__form * {
    color: #1A1A1A;
}

.header .show-profile {
    opacity: 1;
    pointer-events: auto;
}

.header .show-profile .profile__form {
    transform: translateY(0);
}

.header .show-profile .profile__decor {
    transform: translateY(0);
}

.header .profile__button {
    display: flex;
    background-color: #00C767;
    font-weight: 600;
    font-size: 18px;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow .4s;
    margin: 10px auto;
    justify-content: center;
    color: white !important;
}


.header .profile__button:hover {
    box-shadow: 0 1px 24px #00ff842d;
}

.header .profile__decor {
    background-color: #00C767;
    height: 16px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    transform: translateY(-1rem);
    transition: transform .9s;
}

.header .profile .profile__form input {
    color: var(--primary-color);
    font-weight: 500;
    background: var(--bg-color);
    border: none;
    border-bottom: 1px solid #1A1A1A;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    outline: none;
}