
.hero__section {
    width: 100%;
    position: relative;
    height: 800px;
}

.hero__section .slider {
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.hero__section .slider.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}

.hero__section .slider img {
    z-index: 1;
    width: 100%;
    height: 800px;
    object-fit: cover;
}

.hero__section .slider .Match_Section {
    position: absolute;
    width: 200px;
    height: 400px;
    top: 0;
    padding: 15px 30px;
    background-color: #00C767;
}

.hero__section .hero__title {
    position: absolute;
    top: 260px;
    z-index: 4;
    color: white;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

.hero__section .hero__title .title {
    text-align: center;
    padding-bottom: 40px;
    text-shadow: 0 0 40px black;
}

.hero__section .hero__title .title h1 {
    font-size: 40px;
}

.hero__section .hero__title .title h2 {
    font-size: 24px;
}

.hero__section button {
    height: 48px;
    width: 120px;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    background-color: #000000;
    font-weight: 500;
    color: white;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    transition: 0.3s;

}

.hero__section button:hover {
    transform: scale(1.1);
    background-color: #00c75d;
}

.second__section {
    margin-top: 80px;
    color: white;
}

.second__section .s2title{
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    font-size: 38px;
}


.hero__section .navigation {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.hero__section .navigation .btn {
    background-color: rgb(255, 255, 255, 0.5);
    width: 10px;
    height: 10px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.hero__section .navigation .btn.active {
    background-color: #00C767;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

/* popular match css */
.popular__match__box .matches * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;;
}

.popular__match__box .matches {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}


.popular__match__box .matches .match__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    gap: 20px;

}

.popular__match__box .matches .match {
    display: flex;
    background-color: #333333;
    justify-content: space-around;
    color: aliceblue;
    width: 980px;
    height: 170px;
    margin: 10px 40px;
    border-radius: 20px;
}

/* Match date */
.popular__match__box .matches .match__date {
    width: 76px;
    height: 112px;
    position: relative;
    top: -14px;
}

.popular__match__box .matches .match__date img {
    width: 100%;
    position: absolute;
    height: 100%;
}

.popular__match__box .matches .match__date__day, .matches .match__date__month {
    position: relative;
    top: 20px;
    z-index: 1;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}


/* Match content */

.popular__match__box .matches .club__section {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
    width: 100%;
    top: 20px;
}

.popular__match__box .matches .club__section .club {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular__match__box .matches .club img {
    position: relative;
    top: -8px;
    width: 70px;
    height: 100%;
}

.popular__match__box .matches .club p {
    font-size: 22px;
}

.popular__match__box .matches .vs p {
    font-size: 36px;
    margin: 0 50px;
}


.popular__match__box .matches .match__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}


/* Match location */

.popular__match__box .matches .match__location {
    position: relative;
    top: -128px;
    display: flex;
    align-items: center;
}

.popular__match__box .matches .ri-map-pin-2-fill {
    font-size: 1.5rem;
    margin-right: 10px;
    color: #00FF9D;
}


/* Buy Ticket button */

.popular__match__box .matches .buy__ticket {
    display: flex;
    align-items: center;
    height: 100%;
}

.popular__match__box .matches .buyTicket__btn {
    width: 120px;
    height: 52px;
    background-color: #ff0044;
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: box-shadow .4s;
}

.popular__match__box .matches .buyTicket__btn:hover {
    box-shadow: 0 1px 21px #ff4d6e5d;
}


/* Media Queries */
@media only screen and (max-width: 844px) {
    /* Styles for tablets and larger devices */
    .hero__section {
        height: 800px;
    }

    .hero__section .slider img {
        height: 800px;
    }

    .hero__section .hero__title {
        top: 260px;
    }

    .hero__section .hero__title .title h1 {
        font-size: 40px;
    }

    .hero__section .hero__title .title h2 {
        font-size: 24px;
    }

    .hero__section button {
        height: 48px;
        width: 120px;
        font-size: 20px;
    }

    .second__section .s2title {
        font-size: 38px;
        margin-bottom: 60px;
    }

    .popular__match__box .matches .match {
        flex-direction: column;
        width: 980px;
        height: 170px;
    }

    .popular__match__box .matches .match__location {
        position: relative;
        top: -128px;
        scale: 0.8;
    }

    .popular__match__box .matches .buy__ticket {
        margin-top: 0;
        display: flex;
        justify-content: center;
    }

    .popular__match__box .matches .buyTicket__btn {
        width: 120px;
        height: 52px;
        font-size: 20px;
    }

    .popular__match__box .matches {
        flex-direction: column;
    }

    .popular__match__box .matches .club__section {
        align-items: center;
        margin: 10px auto;
    }

    .popular__match__box .matches .club img {
        width: 54px;
    }

    .popular__match__box .matches .club p {
        font-size: 14px;
        text-align: center;
    }

    .popular__match__box .matches .match {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding-bottom: 10px;
        position: relative;
    }

    .popular__match__box .matches .match .match__title {
        height: 40px;
        background: #ff2c4b;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding-left: 100px;
        padding-right: 20px;
        align-content: center;
    }

    .popular__match__box .matches .match .match__title h3 {
        text-align: end;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .popular__match__box .matches form {
        width: 88%;
        margin-bottom: 28px;
        height: fit-content;
    }

    .popular__match__box .matches .match__content {
        margin: 0;
    }


    .popular__match__box .matches .match__date {
        width: 60px;
        position: absolute;
        top: -14px;
        left: 20px;
    }

    .popular__match__box .matches .match__date img {
        width: 100%;
        position: absolute;
        height: 80px;
    }

    .popular__match__box .matches .match__date__day, .matches .match__date__month {
        top: 14px;
        font-size: 20px;
    }
}


