/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 18, 2024, 3:21:21 PM
    Author     : mosdd
*/

/* main.css */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding-top: 72px;
    background-color: #f9f9f9;
}

footer {
    background-color: #333;
    color: white;
}

@media screen and (max-width: 1023px) {
    main {
    padding-top: 56px;
    }
}