/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 20, 2024, 11:36:26 PM
    Author     : mosdd
*/

/* RESET */

.matches * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Inter', sans-serif;;
}

/* Search box */
.matches .search__box input{
    width: 300px;
    background-color: #141414;
    border: 2px solid #5353533f;
    padding: 1rem;
    border-radius: .5rem;
    color: #ffffff;
    margin: 20px auto;
}

.matches .search__box {
    display: flex;
    justify-content: center;

}

.matches .match__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    gap: 20px;

}

.matches .match {
    display:flex;
    background-color: #333333;
    justify-content: space-around;
    color: aliceblue;
    width: 980px;
    height: 170px;
    margin: 10px 40px;
    border-radius: 20px;
}

/* Match date */
.matches .match__date {
    width: 76px;
    height: 112px;
    position: relative;
    top: -14px;
}

.matches .match__date img {
    width: 100%;
    position: absolute;
    height: 100%;
}

.matches .match__date__day, .matches .match__date__month {
    position: relative;
    top: 20px;
    z-index: 1;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}


/* Match content */

.matches .club__section{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
    width: 100%;
    top: 20px;
}

.matches .club__section .club {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.matches .club img {
    position: relative;
    top: -8px;
    width: 70px;
    height: 100%;
}

.matches .club p {
    font-size: 22px;
}

.matches .vs p{
    font-size: 36px;
    margin: 0 50px;
}


.matches .match__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

/* Match location */

.matches .match__location {
    position: relative;
    top: -128px;
    display:flex;
    align-items: center;
}

.matches .ri-map-pin-2-fill {
    font-size: 1.5rem;
    margin-right: 10px;
    color: #00FF9D;
}



/* Buy Ticket button */

.matches .buy__ticket {
    display: flex;
    align-items: center;
    height: 100%;
}
.matches .buyTicket__btn {
    width: 120px;
    height: 52px;
    background-color: #ff0044;
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: box-shadow .4s;
}

.matches .buyTicket__btn:hover {
    box-shadow: 0 1px 21px #ff4d6e5d;
}


/* Responsive */


@media screen and (max-width: 1024px) {
    .matches .match {
        width: 800px;
    }
}

@media screen and (max-width: 768px) {
    .matches .match {
        width: 600px;
    }
}

@media screen and (max-width: 600px) {
    .matches .match {
        width: 400px;
    }
}

@media screen and (max-width: 480px) {
    .matches .match {
        width: 300px;
    }
}

