* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    display: flex;
}

div.card {
    height: 270px;
}

.card__box {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    align-items: center;
    gap: 2rem;
}

.card__content {
    position: relative;
    top: -60px;
    width: 200px;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
}

.card__content img {
    width: 100%;
    height: 230px;
    object-fit: cover; /* Ensure the image covers the container without distortion */
}

.card:hover .card__content {
    transform: scale(1.05); /* Scale up the card */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add shadow to create lift effect */
}

.card:hover .player__number {
    transform: scale(1.3); /* Scale up the card */
}

.player__number {
    position: relative;
    width: 40px;
    height: 60px;
    top: -6px;
    z-index: 1;
    margin-left: 10px;
    transition: transform 0.3s ease
}

.player__number p {
    position: absolute;
    padding: 8px;
    font-size: 20px;
    font-weight: 500;
}

.player__name {
    text-align: center;
    align-content: center;
    font-size: 20px;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    background-color: #00ff9d;
}


.role {
    padding-bottom: 20px;
    font-size: 25px;
}



/* Sidebar */

.sidebar__box {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #131313;
}


.player__box{
    margin-left: 15rem;
}

.search__box input{
    width: 300px;
    background-color: #141414;
    border: 2px solid #5353533f;
    padding: 1rem;
    border-radius: .5rem;
    color: #ffffff;
    margin: 20px auto;
}


/* Response sive */

@media screen and (max-width: 1023px) {
    .sidebar__box {
        position: fixed;
        left: -100%;
        z-index: 80;
        transition: top .4s;
    }
    
    .player__box {
        margin: 0;
    }
    
    .card__box {
        justify-content: space-evenly
    }
    
    .search__box {
        display: flex;
        align-content: center
    }
    
    .role {
        text-align: center;
    }
    
}


