/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 24, 2024, 1:49:52 AM
    Author     : mosdd
*/

.match__management_container {
    width: 100%;
    margin-top: 40px;
}

.match__management_container .match__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

/* Search box */
.match__management_container .search__box {
    display: flex;
    justify-content: center;
    margin-right: 250px;
}

.match__management_container .search__box input {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 0 10px;
}

.match__management_container .add__button {
    background-color: #00C767;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: #fff;
    margin-left: 250px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}

.match__management_container .add__button:hover {
    background-color: #0aff89;
    transform: scale(1.05);
}

.match__management_container .line__decor {
    width: 70%;
    height: 6px;
    background-color: white;
    margin: 10px auto;
    margin-bottom: 40px;
}

.match__management_container .match__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    gap: 20px;

}

.match__management_container .match {
    display:flex;
    background-color: #494949;
    justify-content: space-around;
    color: aliceblue;
    width: 980px;
    height: 170px;
    margin: 10px 40px;
    border-radius: 20px;
}

/* Match date */
.match__management_container .match__date {
    width: 76px;
    height: 112px;
    position: relative;
    top: -14px;
}

.match__management_container .match__date img {
    width: 100%;
    position: absolute;
    height: 100%;
}

.match__management_container .match__date__day, .match__management_container .match__date__month {
    position: relative;
    top: 20px;
    z-index: 1;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}


/* Match content */

.match__management_container .club__section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    width: 100%;
}

.match__management_container .club__section .club {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.match__management_container .club img {
    position: relative;
    top: -8px;
    width: 80px;
}

.match__management_container .club p {
    font-size: 20px;
}

.match__management_container .vs p{
    font-size: 36px;
    margin: 0 50px;
}


.match__management_container .match__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    width: 600px;
}

/* Match location */

.match__management_container .match__location {
    position: relative;
    top: -8px;
    display:flex;
    align-items: center;
}

.match__management_container .ri-map-pin-2-fill {
    font-size: 1.5rem;
    margin-right: 10px;
    color: #00FF9D;
}

.match__management_container .update__button {
    background-color: #3366ff;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    text-decoration: none;
    color: #fff;
    border: none;
    cursor: pointer;
}

.match__management_container .delete__button {
    background-color: red;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    text-decoration: none;
    color: #fff;
    border: none;
    cursor: pointer;
}

.match__management_container .option {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

/* Add Match Form */
.add__match {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    background-color: rgba(9, 24, 35, 0.4);
    opacity: 0;
    pointer-events: none;
}

.add__match.show-add-match {
    opacity: 1;
    pointer-events: auto;
}

.add__match .match {
    color: #1A1A1A;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
}

.add__match .match__content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 40px;
    align-items: center;
}

.add__match .club__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.add__match .club {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.add__match .club img {
    width: 100px;
    margin: 10px;
}

.add__match .club h2 {
    text-align: center;
    font-size: 20px
}

.add__match .vs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-weight: bold;
}

.add__match .stadium select {
    appearance: none;
    /* safari */
    -webkit-appearance: none;
    /* other styles for aesthetics */
    width: 100%;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}


.add__match .match__time {
    display: flex;
    align-items: center;
}

.add__match .match__time input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
}


.add__match .option {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.add__match .add__button {
    padding: 10px 20px;
    background-color: #0ed86f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add__match .add__button:hover {
    background-color: #00bc61;
}

.add__match .ri-close-large-fill {
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    justify-content: end;
}

.add__match .ri-close-large-fill:hover {
    color: #00c273;
}

.add__match .add__match__header {
    text-align: center;
}

.add__match .match .close__btn {
    display: flex;
    padding: 10px;
}

/* Update Match Form */
.update__match {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    background-color: rgba(9, 24, 35, 0.4);
    opacity: 0;
    pointer-events: none;
}

.update__match.show-update-match {
    opacity: 1;
    pointer-events: auto;
}

.update__match .match {
    color: #1A1A1A;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
}

.update__match .match__content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 40px;
    align-items: center;
}

.update__match .club__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.update__match .club {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.update__match .club img {
    width: 100px;
    margin: 10px;
}

.update__match .club h2 {
    text-align: center;
    font-size: 20px
}

.update__match .vs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-weight: bold;
}

.update__match .stadium select {
    appearance: none;
    /* safari */
    -webkit-appearance: none;
    /* other styles for aesthetics */
    width: 100%;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}


.update__match .match__time {
    display: flex;
    align-items: center;
}

.update__match .match__time input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
}


.update__match .option {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.update__match .update__button {
    padding: 10px 20px;
    background-color: #0ed86f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.update__match .update__button:hover {
    background-color: #00bc61;
}

.update__match .ri-close-large-fill {
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    justify-content: end;
}

.update__match .ri-close-large-fill:hover {
    color: #00c273;
}

.update__match .update__match__header {
    text-align: center;
}

.update__match .match .close__btn {
    display: flex;
    padding: 10px;
}


/*toastbox*/
#toastBox {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}

.toast{
    width: 300px;
    height: 80px;
    background: #ffffff;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    color: black;
    position: relative;
}


.toast i {
    margin: 0 20px;
    font-size: 35px;
    color: green
}

.toast.invalid i {
    color: orange;
}

.toast::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: anim 3s linear;
}


@keyframes anim {
    100%{
        width: 0;
    }
}

.toast.invalid::after {
    background: orange;
}




